<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Values</h2>
                <hr class="light">
                <p class="text-faded">Laksh exists to bring together students interested in South Asian culture, to organize social events for members and individuals of the community, to provide a forum for discussion on South Asian community issues and implement ways to fix them. </p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
