<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Volunteer Opportunities</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    <h3>Peer Tutoring</h3>
                    <p class="text-muted">Our peer tutoring program provides opportunities to grow for both tutors and tutees</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Peer Mentorship</h3>
                    <p class="text-muted">Help out new students to the University and Canada get adjusted to their new life.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>CCR Recognition</h3>
                    <p class="text-muted">Like a transcript, but existing as a separate document, the CCR is a clear statement of a student's involvement in activities that support holistic development.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Event Volunteer</h3>
                    <p class="text-muted">You can Volunteer for any our events, learn new skills and expand your knowledge. Whether you're a performer, planner or part of promotions.</p>
                </div>
            </div>
        </div>
    </div>
</section>
